<%- include ('./partials/header.ejs',{pageName: "404 Error", otherStyleSheet: "/404.css"}) %>


        <h1> YOU SHOULDN'T BE HERE! GO <a href="/"> HERE! </a> </h1>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
<%- include('./partials/footer') %>