<%- include ('./partials/header.ejs', {pageName: "Home"}) %>

        <div id="card">
            <h1> My Home Page</h1>
            <hr> 
        </div>
        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<%- include('./partials/footer') %>