<%- include ('./partials/header.ejs', {pageName: "Song List"}) %>
    
   
<!-- I want my songs to show up after submission here with an edit button for updating -->
    <div id="card">
        <h1> Song List </h1>
        <hr> 
    </div>    

        

<%- include('./partials/footer') %>