<%- include ('./partials/header.ejs', {pageName: "Submit a Song" }) %>

<div>
        <h1> Submit your favorite song!</h1>
        <form>
            <div class="form-group">
              <label for="formGroupExampleInput"></label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Song Name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2"></label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Artist Name">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2"></label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex: 1/10">
              </div>
          </form>
</div>


    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <%- include('./partials/footer') %>