<%- include ('./partials/header.ejs', {pageName: "Submit a Song" }) %>

<div id="card">
    <h1> Submit your favorite song!</h1>
    <hr>
        <form method="POST" action="/songs">
            <label for="songName"> Song Name </label>
            <input type="text" name="songName" id="songName" />
            <label for="artistName"> Artist Name </label>
            <input type="text" name="artistName" id="artistName" />
            <label for="releaseDay"> Release Day </label>
            <input type="text" name="releaseDay" id="releaseDay" />
            <label for="rating"> Rating </label>
            <input type="text" name="rating" id="rating" />
            
            <input type="submit" value="Submit New Music!">
          </form>
</div> 



    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <%- include('./partials/footer') %>