
<%-include('partials/header') %>

        <body>
            <h1>  NEW MUSIC FRIDAYS, BY THE PEOPLE </h1>

            <hr> 


            <h4></h4>
        </body>

    <footer> 
        Ali Colak 2023
    </footer>
</html>