<%-include('partials/header') %>

<body>
    <h1> Page 2: Submit a song! </h1>
    <form action="/submit" method="GET">
        <input type="text" name="Song Name" placeholder="Song Name">
        <input type="text" name="Artist" placeholder="By">
        <input type="text" name="Release Date" placeholder="y/m/d: 2023/03/22">
        <button>Submit</button>

    </form>
</body>